<div class="page-header">
  <h1>All of the Statuses</h1>
</div>

<% @statuses.each do |status|%>
<div class="status">
	<strong><%= status.name %></strong>
	<p><%= status.content %></p>
</div>
<% end %>